.cookie-banner-section {
  background: #2e6f40;
  border-radius: 30px 30px 0 0;
  padding: 30px 15px;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    padding: 85px 111px 85px 68px;
    max-width: 1440px;
  }
}

.cookie-banner-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cookie-banner-text-wrapper {
  margin-bottom: 34px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.cookie-banner-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #d6ffdf;

  @include media(desktop) {
    font-size: 40px;
    max-width: 814px;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    gap: 50px;
    min-width: 352px;
  }
}

.cookie-accept-btn {
  background: #d6ffdf;
  border: 1px solid #d6ffdf;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #2e6f40;
  width: 100%;
  max-width: 267px;

  @include media(desktop) {
    padding: 11px 32px;
    font-size: 24px;
    max-width: 352px;
  }
}

.cookie-decline-btn {
  border: 2px solid #d6ffdf;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #d6ffdf;
  width: 100%;
  max-width: 267px;

  @include media(desktop) {
    padding: 11px 32px;
    font-size: 24px;
    max-width: 352px;
  }
}

.show-cookie-banner {
  display: block;
}
