.contact-section {
}

.contact-bg-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.contact-container {
  padding: 0 13px;

  @include media(desktop) {
    padding: 0 72px;
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-top-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

.contact-address-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.contact-link-wrapper {
  display: flex;
  align-items: center;
  gap: 9px;

  @include media(desktop) {
    gap: 18px;
  }
}

.contact-icon-wrapper {
  border-radius: 100%;
  background: #d6ffdf;
  min-width: 31px;
  min-height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    min-width: 50px;
    min-height: 50px;
  }
}

.contact-icon {
  @include media(desktop) {
    width: 30px;
    height: 30px;
  }
}

.contact-link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  max-width: 197px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 328px;
  }
}
