.context-menu {
  display: none;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 37px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-container {
  padding: 0 23px;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  max-width: max-content;
  margin-right: auto;
}

.context-list-item {
}

.context-list-link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  transition: all 0.3s ease-in-out;

  &:active {
    color: #2e6f40;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
