.works-section {
  background: linear-gradient(
    180deg,
    #ffeec4 2.91%,
    #f9ebc7 37.12%,
    #c3f2ff 100%
  );
}

.works-bg-wrapper {
  padding-top: 42px;
  padding-bottom: 258px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/works/works-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom 33px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 72px;
    padding-bottom: 56px;
    max-width: 1440px;
    background-image: url(../img/works/works-bg-desk.png);
    background-position: bottom 66px right 193px;
  }
}

.works-container {
}

.works-title {
  max-width: 234px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;

  @include media(desktop) {
    max-width: max-content;
    margin-bottom: 72px;
  }
}

.works-content-wrapper {
  @include media(desktop) {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.works-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36px;

  @include media(desktop) {
    gap: 18px;
    margin-bottom: 56px;
  }
}

.works-list-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.works-item-dot {
  min-width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #bb612e;

  @include media(desktop) {
  }
}

.works-item-text {
  font-family: 'Fraunces', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #011a22;

  @include media(desktop) {
    font-size: 20px;
  }
}

.works-bottom-text {
  font-family: 'Fraunces', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #011a22;
  text-align: center;

  @include media(desktop) {
    font-size: 24px;
  }
}
