<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">
        Not just strategy. <span class="title-span">Real impact.</span>
      </h2>
      <p class="about-top-text">
        We combine consulting expertise with digital tools, ensuring your
        sustainability plan isn’t just a report — it’s a living roadmap with
        actionable steps.
      </p>
      <ul class="about-list">
        <li class="about-list-item">
          <div class="about-icon-wrapper">
            <svg class="about-icon" width="14" height="14">
              <use href="./img/sprite.svg#icon-circle-check-big"></use>
            </svg>
          </div>
          <h3 class="about-item-title">Measurable Results</h3>
          <p class="about-item-text">
            Track your progress with real-time data and clear KPIs
          </p>
        </li>
        <li class="about-list-item">
          <div class="about-icon-wrapper">
            <svg class="about-icon" width="14" height="14">
              <use href="./img/sprite.svg#icon-chart-line"></use>
            </svg>
          </div>
          <h3 class="about-item-title">Cost Savings</h3>
          <p class="about-item-text">
            Identify efficiency opportunities that reduce both emissions and
            costs
          </p>
        </li>
        <li class="about-list-item">
          <div class="about-icon-wrapper">
            <svg class="about-icon" width="14" height="14">
              <use href="./img/sprite.svg#icon-shield"></use>
            </svg>
          </div>
          <h3 class="about-item-title">Regulatory Compliance</h3>
          <p class="about-item-text">
            Stay ahead of EU taxonomy, CSRD, and other regulatory requirements
          </p>
        </li>
      </ul>
      <p class="about-bottom-text">
        Our focus:
        <span class="about-text-span">measurable results, cost savings,</span>
        and <span class="about-text-span">regulatory compliance.</span>
      </p>
    </div>
  </div>
</section>
