<section class="section clients-section" id="clients">
  <div class="clients-bg-wrapper">
    <div class="container clients-container">
      <h2 class="section-title clients-title">
        Trusted by <span class="title-span">industry leaders</span>
      </h2>
      <p class="clients-top-text">
        Join the companies already making a measurable impact on their
        sustainability journey.
      </p>
      <ul class="clients-list">
        <li class="clients-list-item">
          <div class="clients-icon-wrapper">
            <svg class="clients-icon" width="17" height="17">
              <use href="./img/sprite.svg#icon-quote"></use>
            </svg>
          </div>
          <div class="clients-text-wrapper">
            <p class="clients-item-text">
              “EcoPathGen turned ESG into measurable progress.”
            </p>
            <h3 class="clients-item-title">Greentech GmbH</h3>
          </div>
        </li>
        <li class="clients-list-item">
          <div class="clients-icon-wrapper">
            <svg class="clients-icon" width="17" height="17">
              <use href="./img/sprite.svg#icon-quote"></use>
            </svg>
          </div>
          <div class="clients-text-wrapper">
            <p class="clients-item-text">
              “Their dashboards simplified reporting across 12 countries.”
            </p>
            <h3 class="clients-item-title">RetailNet EU</h3>
          </div>
        </li>
      </ul>
      <p class="clients-subtitle">Our Strategic Partners</p>
      <ul class="clients-bottom-list">
        <li class="clients-bottom-list-item">
          <p class="clients-bottom-item-text">Siemens Smart Energy</p>
        </li>
        <li class="clients-bottom-list-item">
          <p class="clients-bottom-item-text">ClimateAction EU</p>
        </li>
        <li class="clients-bottom-list-item">
          <p class="clients-bottom-item-text">Green Future Fund</p>
        </li>
      </ul>
    </div>
  </div>
</section>
