<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">
        Let’s design your <span class="title-span">eco-path</span> together.
      </h2>
      <p class="contact-top-text">
        Ready to start your sustainability journey? Get in touch with our
        experts today.
      </p>
      <div class="contact-address-wrapper">
        <div class="contact-link-wrapper">
          <div class="contact-icon-wrapper">
            <svg class="contact-icon" width="19" height="19">
              <use href="./img/sprite.svg#icon-mail"></use>
            </svg>
          </div>
          <a href="mailto:contact@ecospotzen.com" class="contact-link"
            >contact@ecospotzen.com</a
          >
        </div>
        <div class="contact-link-wrapper">
          <div class="contact-icon-wrapper">
            <svg class="contact-icon" width="19" height="19">
              <use href="./img/sprite.svg#icon-map-pin"></use>
            </svg>
          </div>
          <a href="" class="contact-link"
            >Office: Alexanderstraße 7, 10178 Berlin, Germany</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
