<footer class="footer" id="footer">
  <div class="footer-bg-wrapper">
    <div class="container footer-container">
      <div class="footer-nav-wrapper">
        <p class="footer-text">© 2025 EcoPathGen LLC. All rights reserved.</p>
        <nav class="footer-nav">
          <ul class="footer-list">
            <li class="footer-list-item">
              <a class="footer-link" target="_blank" href="policies.pdf#page=1"
                >Privacy Policy<span class="footer-span">&nbsp;|&nbsp;</span></a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" target="_blank" href="policies.pdf#page=7"
                >Terms & Conditions<span class="footer-span"
                  >&nbsp;|&nbsp;</span
                ></a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" target="_blank" href="policies.pdf#page=11"
                >Cookies</a
              >
            </li>
          </ul>
        </nav>
        <a href="mailto:contact@ecospotzen.com" class="footer-email-link"
          >contact@ecospotzen.com</a
        >
      </div>
    </div>
  </div>
</footer>
