<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">
        Your path to <span class="hero-title-span">net zero</span> starts here.
      </h1>
      <p class="hero-text">
        EcoPathGen empowers companies to design practical sustainability
        roadmaps. From carbon audits to action plans, we make your journey
        measurable and achievable.
      </p>
      <picture>
        <source
          srcset="./img/hero/hero-bg-desk.png"
          media="(min-width: 1440px)"
          width="706"
          height="546" />
        <source srcset="./img/hero/hero-bg-mob.png" width="295" height="228" />
        <img
          class="hero-img"
          src="./img/hero/hero-bg-mob.png"
          alt="Wind turbine"
          width="295"
          height="228"
      /></picture>
      <div class="hero-btn-wrapper">
        <a href="#contact" class="hero-start-btn">Start Your Path</a>
        <a href="#contact" class="hero-learn-btn">Learn More</a>
      </div>
    </div>
  </div>
</section>
