<div class="context-menu">
  <div class="container context-container">
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about"
            >Why EcoPathGen</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#method">Our Method</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#tools"
            >Tools & Dashboards</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#examples"
            >Roadmap Examples</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#clients"
            >Clients & Partners</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#resources"
            >Resources</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
