<section class="section method-section" id="method">
  <div class="method-bg-wrapper">
    <div class="container method-container">
      <h2 class="section-title method-title">
        A <span class="title-span">3-step framework</span> for clarity.
      </h2>
      <ul class="method-list">
        <li class="method-list-item">
          <div class="method-icon-wrapper">
            <svg class="method-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-search"></use>
            </svg>
          </div>
          <h3 class="method-item-title">Assess</h3>
          <p class="method-item-text">
            Carbon footprint analysis and baseline creation
          </p>
        </li>
        <li class="method-list-item">
          <div class="method-icon-wrapper">
            <svg class="method-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-map-pin"></use>
            </svg>
          </div>
          <h3 class="method-item-title">Design</h3>
          <p class="method-item-text">
            Customized roadmap with milestones and KPIs
          </p>
        </li>
        <li class="method-list-item">
          <div class="method-icon-wrapper">
            <svg class="method-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-play"></use>
            </svg>
          </div>
          <h3 class="method-item-title">Implement</h3>
          <p class="method-item-text">
            Real-time monitoring and expert guidance
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
