<section class="section tools-section" id="tools">
  <div class="tools-bg-wrapper">
    <div class="container tools-container">
      <h2 class="section-title tools-title">
        Data that <span class="title-span">guides decisions.</span>
      </h2>
      <p class="tools-top-text">
        Our comprehensive digital platform provides the insights you need to
        make informed sustainability decisions and track progress toward your
        net-zero goals.
      </p>
      <div class="tools-list-wrapper">
        <img
          class="tools-img"
          src="./img/tools/tools-bg-desk.png"
          alt="Laptop"
          width="564"
          height="393"
          loading="lazy"
        />
        <ul class="tools-list">
          <li class="tools-list-item">
            <div class="tools-icon-wrapper">
              <svg class="tools-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-chart-line"></use>
              </svg>
            </div>
            <div class="tools-text-wrapper">
              <h3 class="tools-item-title">CO₂ Tracker</h3>
              <p class="tools-item-text">
                Monitor emissions by department or facility with real-time data
                visualization
              </p>
            </div>
          </li>
          <li class="tools-list-item">
            <div class="tools-icon-wrapper">
              <svg class="tools-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-zap"></use>
              </svg>
            </div>
            <div class="tools-text-wrapper">
              <h3 class="tools-item-title">Energy Dashboard</h3>
              <p class="tools-item-text">
                Track energy consumption patterns and identify optimization
                opportunities
              </p>
            </div>
          </li>
          <li class="tools-list-item">
            <div class="tools-icon-wrapper">
              <svg class="tools-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-chart-no-axes-combined"></use>
              </svg>
            </div>
            <div class="tools-text-wrapper">
              <h3 class="tools-item-title">Predictive Analytics</h3>
              <p class="tools-item-text">
                Forecast emission trends and plan proactive sustainability
                measures
              </p>
            </div>
          </li>
          <li class="tools-list-item">
            <div class="tools-icon-wrapper">
              <svg class="tools-icon" width="30" height="30">
                <use href="./img/sprite.svg#icon-file-text"></use>
              </svg>
            </div>
            <div class="tools-text-wrapper">
              <h3 class="tools-item-title">Compliance Reports</h3>
              <p class="tools-item-text">
                Automated reporting for EU taxonomy, CSRD, and other regulatory
                requirements
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
